<% layout('layouts/boilerplate') -%>

<link rel="stylesheet" href="/css/create-department.css">


    <% if (typeof adminMessage !== "undefined") { %>
      <div class="alert alert-success mb-3">
        <%= adminMessage %>
      </div>
    <% } %>

    <div class="department-form-wrapper">
      
      <header class="content-header">
        <div>
          <h1>Account Management</h1>
          <p class="text-muted">
            Add a new Department or a Super Admin to the system.
          </p>
        </div>
      </header>

      <form class="department-card" method="POST" action="/admin/create-department">

        <div class="form-group">
          <label>Department/Admin Name</label>
          <input type="text" name="name" placeholder="e.g. Information Technology" required>
        </div>

        <div class="form-group">
          <label>Official Email</label>
          <input type="email" name="email" placeholder="department@aai.aero" required>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" placeholder="Create secure password" required>
        </div>

        <div class="form-group">
          <label>Account Role</label>
          <select name="role" class="form-control"  required>
            <option value="DEPARTMENT">Department Admin (Normal)</option>
            <option value="SUPERADMIN">Super Admin (Full Dashboard Access)</option>
          </select>
          <small class="text-small-muted">Super Admins can see analytics of all departments.</small>
        </div>

        <button type="submit" class="btn-create">
          <i class="fas fa-plus-circle me-2"></i>
          Create Account
        </button>

      </form>
    </div>

</div>